services:
  - type: web
    name: splitapp-backend
    env: node
    region: singapore # Optional: specific region
    buildCommand: cd backend && npm install && npx prisma generate
    startCommand: cd backend && npm start
    branch: main
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRES_IN
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: PORT
        value: 5000
